.header1{
    background-color: #007bff;
    color: #fff;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px #0000001a;
    position: sticky;
    top: 0;
    z-index: 999;
    margin-right: 0%;
}

.desktop-nav{
    display: flex;
  /* Show by default */
    gap: 15px;
  /* Space between links */
    align-items: center;
    display: inline-block;
    
}

.nav{
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    font-weight: 400;
}

.nav:hover{
    text-decoration: underline;
    color: white;
}
a.navitem.nav:hover{
    text-decoration: none;
}
.navbar{
    color: #fff;
    font-size: 1.6em;
    font-weight: 700;
    margin-right: 500px;
}

.navitem{
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color .3s ease;
    font-weight: 600;
}

.boxspirit{
    background-color: #28a745;
    font-size: 1.2em;
    padding: 15px 30px;
}

.hero1{
    position: relative;
    width:100%;
    height: 350px;
    overflow: hidden;
    margin-top: 20px;
}
.hero2{
    width: 100%;
    height: 350px;
    object-fit: fill;
    filter: brightness(50%);
    border-radius: 8px;
}

.hero3{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    width:90%
}

.hero3 h1{
    font-size: 3.5em;
    margin-bottom: 15px;
}

.box1{
    text-align: center;
    padding-bottom: 50px;
}

.box2{
    padding-bottom: 50px;
}

.drawer-nav.open+.drawer-overlay {
  display: block;
  /* Show when drawer is open */
}
