html, body {
    font-family: Arial,sans-serif;
}

.footer {
    background-color: #343a40;
    color: #fff;
    padding: 15px 20px;
    text-align: center;
    font-size: .9em;
    box-shadow: 0 -2px 8px #0000001a;
    flex-shrink: 0;
    margin-top: auto;
}

.footer {
    display:block;
}